@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&family=Pixelify+Sans&family=VT323&display=swap');

:root {
  background-color: #020202;
  background-size: cover;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  --bg: #020202;
  --border: #FF0040;
  --text: #ffffff;
  --prompt-default: #EDF2EF;
  --prompt-1: #fc3063;
  --prompt-2: #42E2B8;
  --prompt-3: #a6ffe7;
  --prompt-4: #582230;
}

/* #region Animations */
@keyframes blink {
	0.01% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
	50.01% {
		opacity: 1;
	}
}

@keyframes scanline {
	0.01% {
    height: 0;
  }
  99.99% {
    height: 100%
  }
	100% {
		height: 0;
	}
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

@keyframes base-window {
	from {opacity: 0%; height: 0%;}
	to {opacity: 100%; height: 90%;}
}

@keyframes slogan {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* #endregion */

/* #region Global Styles */
html,
body {
  overflow: auto;
  color: var(--text);
  
  height: 100%;
  font-size: 16px;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

h1 {
  font-size: xx-large;
  line-height: 40px;
}

h2 {
  font-size: x-large;
}


p {
  display: block;
  line-height: 22px;
  animation: typing 0.5s steps(30, end);
  white-space: nowrap;
  overflow: hidden;
}

div {
  line-height: 22px;
}

pre {
  margin: 0;
  line-height: 15px !important;
  color: var(--prompt-1);
  font-family: monospace;
}

input {
  font-family: 'IBM Plex Mono', monospace;
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 0px;
  margin: 0px;
  border: 0px;
  resize: none;
  outline: none;
  font-size: 16px;
  color: var(--text);
  caret-color: transparent;
  width: 0%;
}

a {
  color: var(--prompt-2);
}

a:hover {
  cursor: pointer;
}

footer {
  flex: row;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--prompt-1);
  color: var(--text);
  text-align: center;
}
/* #endregion */

/* #region Background and Visual Effects */
#stage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  user-select: none;
  pointer-events: none;
  font-size: 10px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#stage pre {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.blink {
	opacity: 1;
	animation: blink 1s linear infinite;
}

.scanline {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 116, 116, 0.05);
	animation: scanline linear 8s infinite;
	pointer-events: none;
}

.slogan {
  font-size: 20px;
  display:grid;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  color: var(--prompt-1);
  
  opacity: 0;
  animation: slogan ease-in-out 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  user-select: none;
}
/* #endregion */

/* #region Base Window */
.base-window {
  position: absolute; /* or absolute, depending on your layout */
  top: 10px;      /* initial position */
  left: 50px;
  z-index: 1000;  /* ensure it stays on top */
  border-width: 1px;
  width: 90vw;
  height: 0%;
  opacity: 0%;
  display: block;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: #02020271;
  border: var(--prompt-1) solid 2px;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.base-window::-webkit-scrollbar {
  display: none;
}
/* #endregion */

/* #region Desktop Buttons */
.desktop-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: fixed;
}

.desktop-button {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid;
}

.desktop-button-text {
  padding-top: 5px;
  font-size: 12px;
}
/* #endregion */

/* #region Time Widget */
#timeWidget{
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  right: 3vh;
  bottom: 5vh;
  padding: 1vh;
  border: 2px solid;
  border-color: var(--prompt-1);

  color: var(--prompt-2)
}
/* #endregion */

/* #region Window Elements */
#aboutme-exit-button, #projects-exit-button, #exit-button, #blog-exit-button {
  color: black;
  line-height: 36px;
  padding-left: 10px;
  padding-right: 10px;

  justify-content: space-between;
  display: flex;
}

#aboutme-exit-button:hover, #projects-exit-button:hover, #exit-button:hover, #blog-exit-button:hover {
  color: var(--text);
}

#aboutmeBtn:hover, #projectsBtn:hover, #terminalBtn:hover, #blogBtn:hover {
  scale: 1.1;
  background-color: var(--prompt-1);
  color: var(--bg);
  transition: background-color 0.3s, color 0.3s, scale 0.3s;
}

 #aboutme-bars, #projects-bars, #terminal-bars, #blog-bars {
  cursor: grab;   /* visual feedback */
  user-select: none; /* prevent text selection while dragging */
  
  font-family: 'Pixelify Sans', sans-serif;
  
  font-size: 20px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--bg);
}

#aboutme-bars:active, #projects-bars:active, #terminal-bars:active, #blog-bars:active {
  cursor: grabbing;
}

#bar-1 {
  height: 36px;
  background-color: var(--prompt-1);
  color: var(--bg);
  line-height: 36px;
  padding-left: 10px;
  padding-right: 10px;

  justify-content: space-between;
  display: flex;
}

#terminal {
  margin-left: 20px;
}
/* #endregion */

/* #region Aboutme */
.aboutme {
  gap: 1vh;
  display: inline-grid;
  grid-template-columns: 90%;
  grid-template-rows: 42vh 39vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutme-innerbox {
  height: 100%;
  border: var(--prompt-4) dashed 2px;
}

.aboutme-about {
  height: auto;
  padding: 3vh;
  text-align: left;
  overflow: auto;
}

.aboutme-desc {
  padding-top: 1vh;
  text-wrap: wrap;
}

.aboutme-socials {
  text-decoration: none;
  padding: 2vh;
  scale: 1.4;
}

#aboutme-window {
  width: 30vw;
}
/* #endregion */

/* #region Projects */
.project {
  padding: 2vh;
  gap: 2vh;
  display: flex;
  flex-direction: row;
}

.project-img {
  height: 300px;
  border-radius: 20px;
}

#projects-window {
  width: 55vw;
}
/* #endregion */

/* #region Terminal */
#input-line {
  margin-left: 20px;
  overflow-x: hidden;
  width: 100%;
}

.command {
  text-shadow:
    0 0 7px #67F1CD,
    0 0 151px var(--prompt-1);
  color: var(--prompt-2);
}
.command:hover {
  background-color: var(--prompt-1);
  color: var(--bg);
  text-shadow:
    0 0 7px #67F1CD,
    0 0 151px var(--prompt-1);
}

.output {
  font-weight: 400 !important;
  color: var(--prompt-3);
}

.keys {
  color: var(--prompt-1);
  font-weight: 400;
}
/* #endregion */

/* Responsive Design */
@media (max-width: 600px) {
  body {
    font-size: 10px;
    padding: 2px;
    font-weight: 300;
  }

  input {
    font-size: 10px;
  }

  p {
    line-height: 14px;
    text-wrap: wrap;
  }

  pre {
    line-height: 10px !important;
  }

  div {
    line-height: 14px;
  }

  #terminal {
    margin-left: 8px;
  }

  #input-line {
    margin-left: 8px;
  }
}
